$primary-color: #ff6347;
@font-face {
    font-family: "SVN-Gilroy-Bold";
    src: url("../assets/fonts/SVN-Gilroy-Bold.otf") format("otf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "SVN-Gilroy-Medium";
    src: url("../assets/fonts/SVN-Gilroy-Medium.otf") format("otf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "SVN-Gilroy-Bold";
    src: url("../assets/fonts/SVN-Gilroy-Bold.otf") format("otf");
    font-weight: normal;
    font-style: normal;
  }